name: Update CloudFormation schemas
on:
  schedule:
    - cron: "0 */8 * * *"
  workflow_dispatch:
jobs:
  schema-updater:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: aws-cloudformation/aws-cloudformation-template-schema
          path: aws-cloudformation-template-schema
          ref: main
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.9"
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1
      - run: |
          cd aws-cloudformation-template-schema
          poetry install
          poetry run cfn-template-schema generate --output-folder specs
          rm -Rf ../schema/*
          mv specs/* ../schema/
          cd ..
          rm -rf aws-cloudformation-template-schema
      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: |
            CloudFormation Template Schema upgrade
            https://github.com/aws-cloudformation/cloudformation-template-schema/tree/main
          delete-branch: true
          title: CloudFormation Template Schema upgrade
          body: |
            https://github.com/aws-cloudformation/cloudformation-template-schema/tree/main

            If tests are stuck on https://github.com/peter-evans/create-pull-request/issues/48:
            ["Manually close pull requests and immediately reopen them. This will enable `on: pull_request` workflows to run and be added as checks."](https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#triggering-further-workflow-runs)
